/* Global Styles */

* {
    box-sizing:border-box;
}

body {
    margin: 0;
    background-color: rgb(19, 19, 19);
}

body a {
    text-decoration: none;
}

/* Header */

.quest-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(19, 19, 19);
    border-bottom: 1px solid  #c0262c;
    color: #fff8dc;
    height: 100px;
    width: 100%;
}

header a:link {
    color: #fff8dc;
    text-decoration: none;
}

header a:hover {
    color: #c0262c;
}

header a:active {
    color: #ff343b;
}

header a:visited {
    color: #861f22;
}

.nav-container{
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    margin: auto;
    padding-left: 50px;
}
.nav-bar li {
    list-style: none;
    padding: 10px 10px 10px 20px;
}

.nav-bar {
    display: flex;
    font-family: "Dosis", sans-serif;
    src: url(../Webdev/Dosis-SemiBold.ttf);
}

.quest-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
}

.quest-logo {
    display: flex;
}

.teams-container {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    padding-left: 85px;
}

.teams-bar {
    display: flex;
    font-family: "Dosis", sans-serif;
    src: url(../Webdev/Dosis-SemiBold.ttf);
}

.teams-bar li {
    list-style: none;
    padding: 10px 10px 10px 20px;
}

/* Recent Article */

.latest-container {
    display: flex;
    height: 40px;
    width: 25%;
    justify-content: flex-end;
    padding-top: 10px;
}

.latest-news {
    display: flex;
    color: #fff8dc;
    background-color: #521416;
    padding: 5px;
    font-family: "Dosis", sans-serif;
    src: url(../Webdev/Dosis-SemiBold.ttf);
}

.r6-preview {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    transition: transform 0.2s;
    height: 300px;
    width: 58%;
}

.r6-preview:hover {
    transform: scale(1.02);
}

.agn-r6-container {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}

.agn-r6 {
    display: flex;
}

.agn-r6 img {
    border-radius: 5px;
}

.r6-headline-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 58%;
    position: relative;
    bottom: 10px;
}

.r6-headline {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fce9ea;
    border-radius: 4px;
    height: 30px;
    width: 531px;
}

.r6-headline-text {
    display: flex;
    justify-content: center;
    font-size: 24px;
    text-transform: uppercase;
    width: 531px;
    font-family: "Montserrat", sans-serif;
    src: url(../Webdev/Montserrat-ExtraBold.ttf);
}

/* Merch Article Preview */

.quest-merch {
    float: right;
    position: relative;
    bottom: 18em;
    right: 20em;
    transition: transform .2s;
    margin: 0;
    padding: 0;
    width: 235px;
}

.quest-merch:hover {
    transform: scale(1.05);
}

.merch-release {
    background-color: #fce9ea;
    border-radius: 4px;
    width: 232px;
    height: 20px;
    font-family: "Montserrat", sans-serif;
    src: url(../Webdev/Montserrat-ExtraBold.ttf);
    text-transform: uppercase;
    text-align: center;
    position: relative;
    bottom: 2.1em;
}

.merch-pic {
    border-radius: 5px;
}

/* CSGO Preview */

.quest-csgo {
    float: right;
    position: relative;
    bottom: 8.5em;
    right: 5.3em;
    transition: transform .2s;
    margin: 0;
    padding: 0;
    width: 235px;
}

.quest-csgo:hover {
    transform: scale(1.05);
}

.csgo-announce {
    background-color: #fce9ea;
    border-radius: 4px;
    width: 232px;
    height: 20px;
    font-family: "Montserrat", sans-serif;
    src: url(../Webdev/Montserrat-ExtraBold.ttf);
    text-transform: uppercase;
    text-align: center;
    position: relative;
    bottom: 2.1em;
}

.csgo {
    border-radius: 5px;
}

.sponsors {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    background-color: #521416;
    height: 122px;
    width: 100%;
}