/* Global Styles */

* {
    box-sizing:border-box;
}

body {
    font-family: "Dosis", sans-serif;
    margin: 0;
    background-color: rgb(19, 19, 19);
}

@font-face {
    font-family: "Dosis", sans-serif;
    src: url(./Dosis-SemiBold.ttf);
}

/* Header */

header {
    background-color: rgb(19, 19, 19);
    border-bottom: 1px solid  #c0262c;
    display: block;
    color: #fff8dc;
    height: 100px;
    position: sticky;
    width: 100%;
}

header a:link {
    color: #fff8dc;
    text-decoration: none;
}

header a:hover {
    color: #c0262c;
}

header a:active {
    color: #ff343b;
}

header a:visited {
    color: #861f22;
}

.quest-header img {
    position: absolute;
    left: 47%;
    top: 10%;
}
.quest-header h2 {
    text-align: center;
    position: relative;
    bottom: 5em;
}
.quest-header h4 {
    text-align: center;
    position: relative;
    bottom: 7em;
}
.nav-bar li{
    display: block;
    list-style: none;
    float: left;
    padding: 19px 19px 19px;
    position: relative;
    top: 19px;
    left: 50px;
    font-family: "Dosis", sans-serif;
    src: url(../Webdev/Dosis-SemiBold.ttf);
}

.teams-bar li {
    display: block;
    list-style: none;
    float: right;
    padding: 19px 25px 19px;
    position: relative;
    top: 19px;
    right: 150px;
    font-family: "Dosis", sans-serif;
    src: url(../Webdev/Dosis-SemiBold.ttf);
}

/* Recent Article */

.r6-qual {
    position: relative;
    top: 2em;
    left: 15em;
    transition: transform 0.2s;
    margin: 0;
    padding: 0;
    width: 550px
}

.r6-qual:hover {
    transform: scale(1.05);
}

.r6-headline {
    background-color: #fce9ea;
    border-radius: 4px;
    width: 531px;
    height: 32px;
    font-family: "Montserrat", sans-serif;
    src: url(../Webdev/Montserrat-ExtraBold.ttf);
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    bottom: 1em;
}

.agn-r6 {
    border-radius: 6px;
}

/* Merch Article Preview */

.quest-merch {
    float: right;
    position: relative;
    bottom: 18em;
    right: 20em;
    transition: transform .2s;
    margin: 0;
    padding: 0;
    width: 235px;
}

.quest-merch:hover {
    transform: scale(1.05);
}

.merch-release {
    background-color: #fce9ea;
    border-radius: 4px;
    width: 232px;
    height: 20px;
    font-family: "Montserrat", sans-serif;
    src: url(../Webdev/Montserrat-ExtraBold.ttf);
    text-transform: uppercase;
    text-align: center;
    position: relative;
    bottom: 2.1em;
}

.merch-pic {
    border-radius: 5px;
}